<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSaveComment()" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="text" formControlName="courseCode"  required
            placeholder="Course Code">
            <mat-error *ngIf="form.get(courseCode)?.invalid">Please enter the course code of a comment. </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName="courseName"
            placeholder="Course Name">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName="program"
            placeholder="Program">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text"  formControlName="semester"
            placeholder="Semester">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput cols="" rows="6" formControlName="content"  required
            placeholder="Content"></textarea>
            <mat-error *ngIf="form.get(content)?.invalid">Please enter the content code of a comment. </mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="primary"
            type="submit">Save Comment</button>
    </form>
</mat-card>